* {
  box-sizing: border-box;
  margin: 0;
}

#nav {
  display: flex;
  justify-content: space-around;
}

#gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: lightgrey;
  padding: 20px;
}

.card {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  flex: 1;
  flex-basis: 250px;
  background-color: lightgreen;
}